@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Ultralight.ttf');
    font-weight: 100
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Thin.ttf');
    font-weight: 200
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Light.ttf');
    font-weight: 300
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
    font-weight: 400
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf');
    font-weight: 500
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf');
    font-weight: 600
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf');
    font-weight: 700
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Heavy.ttf');
    font-weight: 800
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/FontsFree-Net-SFProDisplay-Black.ttf');
    font-weight: 900
}

* {
    font-family: 'SF Pro Display', serif;
    /* font-family: 'SFPRO', serif; */
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0
}